
@{
    ViewBag.Title = "Запись на приём";
}

<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="main-header">
                <h4>Запись на приём</h4>
            </div>
        </div>

        <div class="row">
            <!-- Form Control starts -->
            <div class="col-lg-10">
                <div class="card">                                 
                    <div class="card-block">
                        <form>
                            <div class="form-group">
                                <label for="middleName" class="form-control-label">Фамилия</label>
                                <input class="form-control" id="middleName" placeholder="Введите фамилию...">
                            </div>
                            <div class="form-group">
                                <label for="firstName" class="form-control-label">Имя</label>
                                <input class="form-control" id="firstName" placeholder="Введите имя...">
                            </div>
                            <div class="form-group">
                                <label for="secondName" class="form-control-label">Отчество</label>
                                <input class="form-control" id="secondName" placeholder="Введите отчество...">
                            </div>
                            <div class="form-group">
                                <label for="phone" class="form-control-label">Номер телефона</label>
                                <input class="form-control" id="phone" placeholder="Введите номер телефона...">
                            </div> 
                            <div class="form-group">
                                <label for="email" class="form-control-label">Электронная почта</label>
                                <input class="form-control" id="email" placeholder="Введите почту...">
                            </div>
                            <div class="form-group">
                                <label for="appointmentDate" class="form-control-label">Дата приёма</label>
                                <input class="form-control" id="appointmentDate" placeholder="Выберите дату...">
                            </div>
                            <div class="form-group">
                                <label for="services" class="form-control-label">Выберите операции</label>
                                <select multiple="" class="form-control multiple-select" id="services">
                                    <option>Брекеты металлические GEMINI (1 челюсть)</option>
                                    <option>Лечение пульпита/периодонтита</option>
                                    <option>Полный комплекс мероприятий профессиональной гигиены (оба зубных ряда)</option>
                                    <option>Профессиональная чистка зубов всей полости (Ультразвук + Air-Flow)</option>
                                    <option>Удаление ретенированного зуба мудрости (без учета анестезии)</option>
                                    <option>Установка формирователя десны</option>
                                    <option>Художественная реставрация зуба</option>
                                </select>
                            </div>
                            <fieldset class="form-group">
                                <label class="form-control-label">Источник привлечения</label>
                                <div class="form-check">
                                    <label for="source1" class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="source1" value="option1" checked="">
                                        Друзья
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label for="source2" class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="source2" value="option2">
                                        Сайт
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <label for="source3" class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="source3" value="option3">
                                        Реклама
                                    </label>
                                </div>
                            </fieldset>
                            @*<div class="form-check">
                                <label for="chkme" class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="chkme">
                                    Check me out
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Option one is this and that—be sure to include why it's great
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="" disabled="">
                                    Option two is disabled
                                </label>
                            </div>*@
                            <button type="submit" class="btn btn-success btn-md waves-effect waves-light m-r-30">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Form Control ends -->
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $(".sidebar-menu .active").removeClass("active");
            $("#clients").addClass("active");
        });
    </script>
}