
@{
    ViewBag.Title = "Запись на приём";
}

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link href="~/assets/plugins/schedule-template-master/css/style.css" rel="stylesheet" />

<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" style="margin-top: 2em;">
                <a href="@Url.Action("AddAppointment")" class="btn btn-lg btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-primary.badge" aria-describedby="tooltip164661">
                    Записать на приём
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block button-list" style="float: right;">
                        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light " data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-sm">
                            <<
                        </button>
                        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light " data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-sm">
                            >>
                        </button>
                    </div>
                    <div class="cd-schedule loading">
                        <div class="timeline">
                            <ul>
                                <li><span>09:00</span></li>
                                <li><span>09:30</span></li>
                                <li><span>10:00</span></li>
                                <li><span>10:30</span></li>
                                <li><span>11:00</span></li>
                                <li><span>11:30</span></li>
                                <li><span>12:00</span></li>
                                <li><span>12:30</span></li>
                                <li><span>13:00</span></li>
                                <li><span>13:30</span></li>
                                <li><span>14:00</span></li>
                                <li><span>14:30</span></li>
                                <li><span>15:00</span></li>
                                <li><span>15:30</span></li>
                                <li><span>16:00</span></li>
                                <li><span>16:30</span></li>
                                <li><span>17:00</span></li>
                                <li><span>17:30</span></li>
                                <li><span>18:00</span></li>
                            </ul>
                        </div> <!-- .timeline -->
                        <div class="events">
                            <ul>
                                <li class="events-group">
                                    <div class="top-info"><span>Понедельник <br />12.02</span></div>
                                    <ul>
                                        <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
                                            <a href="#0">
                                                <em class="event-name">Егоров Е.Е.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2">
                                            <a href="#0">
                                                <em class="event-name">Викторов В.В.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3">
                                            <a href="#0">
                                                <em class="event-name">Семёнова С.С.</em>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="events-group">
                                    <div class="top-info"><span>Вторник <br />13.02</span></div>
                                    <ul>
                                        <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-rowing-workout" data-event="event-2">
                                            <a href="#0">
                                                <em class="event-name">Петрова Г.В.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="11:30" data-end="13:00" data-content="event-restorative-yoga" data-event="event-4">
                                            <a href="#0">
                                                <em class="event-name">Жернов А.П.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="13:30" data-end="15:00" data-content="event-abs-circuit" data-event="event-1">
                                            <a href="#0">
                                                <em class="event-name">Дедиченко Р.О.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="15:45" data-end="16:45" data-content="event-yoga-1" data-event="event-3">
                                            <a href="#0">
                                                <em class="event-name">Красницкая М.В.</em>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="events-group">
                                    <div class="top-info"><span>Среда <br />14.02</span></div>
                                    <ul>
                                        <li class="single-event" data-start="09:00" data-end="10:15" data-content="event-restorative-yoga" data-event="event-4">
                                            <a href="#0">
                                                <em class="event-name">Викторов В.В.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="10:45" data-end="11:45" data-content="event-yoga-1" data-event="event-3">
                                            <a href="#0">
                                                <em class="event-name">Сидорова С.С.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="12:00" data-end="13:45" data-content="event-rowing-workout" data-event="event-2">
                                            <a href="#0">
                                                <em class="event-name">Егоров Е.Е.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="13:45" data-end="15:00" data-content="event-yoga-1" data-event="event-3">
                                            <a href="#0">
                                                <em class="event-name">Нежданова Н.Н.</em>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="events-group">
                                    <div class="top-info"><span>Четверг <br />15.02</span></div>
                                    <ul>
                                        <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
                                            <a href="#0">
                                                <em class="event-name">Сигидова Л.П.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="12:00" data-end="13:45" data-content="event-restorative-yoga" data-event="event-4">
                                            <a href="#0">
                                                <em class="event-name">Шопен А.М.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="15:30" data-end="16:30" data-content="event-abs-circuit" data-event="event-1">
                                            <a href="#0">
                                                <em class="event-name">Кузьмин К.К.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="17:00" data-end="18:30" data-content="event-rowing-workout" data-event="event-2">
                                            <a href="#0">
                                                <em class="event-name">Вихрев И.И.</em>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="events-group">
                                    <div class="top-info"><span>Пятница <br />16.02</span></div>
                                    <ul>
                                        <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-rowing-workout" data-event="event-2">
                                            <a href="#0">
                                                <em class="event-name">Дедиченко Р.О.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="12:30" data-end="14:00" data-content="event-abs-circuit" data-event="event-1">
                                            <a href="#0">
                                                <em class="event-name">Жернов А.П.</em>
                                            </a>
                                        </li>
                                        <li class="single-event" data-start="15:45" data-end="16:45" data-content="event-yoga-1" data-event="event-3">
                                            <a href="#0">
                                                <em class="event-name">Красницкая М.В.</em>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="event-modal">
                            <header class="header">
                                <div class="content">
                                    <span class="event-date"></span>
                                    <h3 class="event-name"></h3>
                                </div>
                                <div class="header-bg"></div>
                            </header>
                            <div class="body">
                                <div class="event-info"></div>
                                <div class="body-bg"></div>
                            </div>
                            <a href="#0" class="close">Close</a>
                        </div>
                        <div class="cover-layer"></div>
                    </div> <!-- .cd-schedule -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/plugins/schedule-template-master/js/main.js"></script>
    <script>
        $(function () {
            $(".sidebar-menu .active").removeClass("active");
            $("#appointment").addClass("active");
        });
    </script>
}