
@{
    ViewBag.Title = "Сотрудники";
}

<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="main-header">
                <h4>Сотрудники</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <!-- Hover effect table starts -->
                <div class="card">
                    @*<div class="card-header">
                        <h5 class="card-header-text">Hover Effects on Row</h5>
                        <p>Add <code>.table-hover</code> Class in table tag</p>
                    </div>*@
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Ф.И.О.</th>
                                            <th class="text-center">Специализация</th>
                                            <th class="text-center">Телефон</th>
                                            <th>Действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Артикулов Р.К.</td>
                                            <td class="text-center">Стоматолог-ортодонт</td>
                                            <td class="text-center">8 (918) 852-87-94</td>
                                            <td>
                                                <a href="#" class="text-success" style="margin-right:1em;"><i class="icon-pencil"></i></a>
                                                <a href="#" class="text-info" style="margin-right:1em;"><i class="icon-list"></i></a>
                                                <a href="#" class="text-danger"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Нестеров П.М.</td>
                                            <td class="text-center">Детский стоматолог</td>
                                            <td class="text-center">8 (928) 455-28-41</td>
                                            <td>
                                                <a href="#" class="text-success" style="margin-right:1em;"><i class="icon-pencil"></i></a>
                                                <a href="#" class="text-info" style="margin-right:1em;"><i class="icon-list"></i></a>
                                                <a href="#" class="text-danger"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Микельян А.Г.</td>
                                            <td class="text-center">Стоматолог-гигиенист</td>
                                            <td class="text-center">8 (961) 252-35-81</td>
                                            <td>
                                                <a href="#" class="text-success" style="margin-right:1em;"><i class="icon-pencil"></i></a>
                                                <a href="#" class="text-info" style="margin-right:1em;"><i class="icon-list"></i></a>
                                                <a href="#" class="text-danger"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Зиновьева В.М.</td>
                                            <td class="text-center">Cтоматолог-пародонтолог</td>
                                            <td class="text-center">8 (918) 492-74-25</td>
                                            <td>
                                                <a href="#" class="text-success" style="margin-right:1em;"><i class="icon-pencil"></i></a>
                                                <a href="#" class="text-info" style="margin-right:1em;"><i class="icon-list"></i></a>
                                                <a href="#" class="text-danger"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hover effect table ends -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $(".sidebar-menu .active").removeClass("active");
            $("#employees").addClass("active");
        });
    </script>
}