@{
    ViewBag.Title = "Услуги";
}

<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="main-header">
                <h4>Услуги</h4>
                <a href="#" class="btn btn-md btn-add btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить услугу">
                    Добавить
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <!-- Hover effect table starts -->
                <div class="card">
                    @*<div class="card-header">
                            <h5 class="card-header-text">Hover Effects on Row</h5>
                            <p>Add <code>.table-hover</code> Class in table tag</p>
                        </div>*@
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Наименование</th>
                                            @*<th class="text-center">Материалы</th>*@
                                            <th class="text-center">Стоимость</th>
                                            <th>Действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Установка формирователя десны</td>
                                            <td class="text-center">2 500 руб.</td>
                                            <td>
                                                <a href="#" class="text-success" style="margin-right:1em;"><i class="icon-pencil"></i></a>
                                                <a href="#" class="text-danger"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Удаление ретенированного зуба мудрости (без учета анестезии)</td>
                                            <td class="text-center">3 900 руб.</td>
                                            <td>
                                                <a href="#" class="text-success" style="margin-right:1em;"><i class="icon-pencil"></i></a>
                                                <a href="#" class="text-danger"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Брекеты металлические GEMINI (1 челюсть)</td>
                                            <td class="text-center">17 000 руб.</td>
                                            <td>
                                                <a href="#" class="text-success" style="margin-right:1em;"><i class="icon-pencil"></i></a>
                                                <a href="#" class="text-danger"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Полный комплекс мероприятий профессиональной гигиены (оба зубных ряда)</td>
                                            <td class="text-center">1 500 руб.</td>
                                            <td>
                                                <a href="#" class="text-success" style="margin-right:1em;"><i class="icon-pencil"></i></a>
                                                <a href="#" class="text-danger"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Лечение пульпита/периодонтита</td>
                                            <td class="text-center">5 000 руб.</td>
                                            <td>
                                                <a href="#" class="text-success" style="margin-right:1em;"><i class="icon-pencil"></i></a>
                                                <a href="#" class="text-danger"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Профессиональная чистка зубов всей полости (Ультразвук + Air-Flow)</td>
                                            <td class="text-center">3 000 руб.</td>
                                            <td>
                                                <a href="#" class="text-success" style="margin-right:1em;"><i class="icon-pencil"></i></a>
                                                <a href="#" class="text-danger"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Художественная реставрация зуба</td>
                                            <td class="text-center">2 500 руб.</td>
                                            <td>
                                                <a href="#" class="text-success" style="margin-right:1em;"><i class="icon-pencil"></i></a>
                                                <a href="#" class="text-danger"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hover effect table ends -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $(".sidebar-menu .active").removeClass("active");
            $("#services").addClass("active");
        });
    </script>
}