
@{
    ViewBag.Title = "Просмотр информации о клиенте";
}

<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="main-header">
                <h4>Просмотр информации о клиенте</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table m-b-0 photo-table">
                                <thead>
                                    <tr class="text-uppercase">
                                        @*<th>Дата</th>*@
                                        <th>Операция</th>
                                        <th class="text-center">Статус</th>
                                        <th class="text-center">Стоимость</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @*<td>
                                            02.02.2018
                                        </td>*@
                                        <td>
                                            Коронка, зуб временные пластмассовые (лабораторное изготовление)
                                            <p><i class="icofont icofont-clock-time"></i>02.02.2018</p>
                                        </td>
                                        <td class="text-center">Завершено</td>
                                        <td class="text-center">2500 руб.</td>
                                    </tr>
                                    <tr>
                                        @*<td>
                                            10.02.2018
                                        </td>*@
                                        <td>
                                            Слепок + диагностическая модель 
                                            <p><i class="icofont icofont-clock-time"></i>10.02.2018</p>
                                        </td>
                                        <td class="text-center">Завершено</td>
                                        <td class="text-center">1000 руб.</td>
                                    </tr>
                                    <tr>
                                        @*<td>
                                            28.02.2018
                                        </td>*@
                                        <td>
                                            Удаление постоянного зуба сложное 
                                            <p><i class="icofont icofont-clock-time"></i>28.02.2018</p>
                                        </td>
                                        <td class="text-center">Завершено</td>
                                        <td class="text-center">3000 руб.</td>
                                    </tr>
                                    <tr>
                                        @*<td>
                                           04.03.2018
                                        </td>*@
                                        <td>
                                            Лазерное отбеливание зубов 
                                            <p><i class="icofont icofont-clock-time"></i>04.02.2018</p>
                                        </td>
                                        <td class="text-center">В процессе</td>
                                        <td class="text-center">17000 руб.</td>
                                    </tr>                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card">
                    <div class="user-block-2">
                        <img class="img-fluid" src="~/assets/images/widget/user-1.png" alt="user-header">
                        <h5>Жернов <br />Анатолий Петрович</h5>
                        <h6>30 лет</h6>
                    </div>
                    <div class="card-block">
                        <div class="user-block-2-activities">
                            <div class="user-block-2-active">
                                Источник привлечения: Друзья
                                @*<label class="label label-primary">Друзья</label>*@
                            </div>
                        </div>
                        <div class="user-block-2-activities">
                            <div class="user-block-2-active">
                                <i class="icofont icofont-phone"></i> 8 (961) 777-51-42
                            </div>
                        </div>
                        <div class="user-block-2-activities">
                            <div class="user-block-2-active">
                                <i class="icofont icofont-mail"></i> jirnov@mail.ru
                                @*<label class="label label-primary">390</label>*@
                            </div>
                        </div>
                        <div class="text-center">
                            @*<button type="button" class="btn btn-warning waves-effect waves-light text-uppercase m-r-30">
                Follows
            </button>*@
                            <button type="button" class="btn btn-primary waves-effect waves-light text-uppercase">
                                Написать письмо
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $(".sidebar-menu .active").removeClass("active");
            $("#employees").addClass("active");
        });
    </script>
}